<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Medical Scan App - {{ title }}</title>
    {% else %}
        <title>Medical Scan App</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="site-header">
        <nav class="navbar container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Medical Scan App</a>
            <div class="navbar-links">
                <ul>
                    </ul>
                <ul class="auth-links">
                    {% if current_user.is_authenticated %}
                        <li><span class="welcome-user">Welcome, {{ current_user.username }}!</span></li>
                        <li><a href="{{ url_for('auth.logout') }}" class="nav-link button-logout">Logout</a></li>
                    {% else %}
                        <!-- <li><a href="{{ url_for('auth.login') }}" class="nav-link">Login</a></li>
                        <li><a href="{{ url_for('auth.register') }}" class="nav-link button-register">Register</a></li> -->
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container main-content"> 
        {#% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages"> {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %#}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p class="container">&copy; 2025 Medical Scan App</p> 
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form-toggle.js') }}"></script>

    </body>
</html>